/*#content {
  background-image: url("https://st.depositphotos.com/1000327/2398/i/950/depositphotos_23981061-stock-photo-grunge-music-background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-size: 50px;
  text-align: center;
}

select {
  style=background-color:lightblue;
}
*/
